<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectwork">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="FILM+"
        android:roundIcon="@drawable/logo"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:supportsRtl="true">
        <activity android:name=".activity.ProssimeUscite"></activity>
        <activity android:name=".activity.FilmPiuVotati" />
        <activity android:name=".activity.FilmPopolari" />
        <activity android:name=".activity.UltimiFilmUscitiAlCinema" />
        <activity android:name=".activity.DettaglioFilm" />
        <activity android:name=".activity.ListaFilmPreferiti" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="filmvolpatojabraoui.com"
                    android:pathPattern="/film"
                    android:scheme="http" />
            </intent-filter>
        </activity>



        <provider
            android:name=".localDatabase.FilmProvider"
            android:authorities="com.example.projectwork.localDatabase.localDatabase.FilmProvider" />
    </application>

</manifest>